#Home {
  height: calc(100vh - 4rem);
}

/* Banner CSS */
#banner {
  height: 580px;
  width: 100%;

  /* 내부 요소가 가로로 나열되는 속성 */
  display: flex;

  background-color: #FFE000;
}

#banner-context {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-letter {
  text-align: left;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
}

#banner-image {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: "scale-down";
}

/* SplideGolf CSS */
#splide-golf {
  width: 100%;

  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.golf-info {
  min-height: 100px;

  margin: 10%;
  padding: 10px;

  border-radius: 50px;
  border: 2px solid #000;
  background: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.golf-name {
  margin-bottom: 5px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.golf-add {
  color: #8d8f98;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* SplideLearning CSS */
#splide-learning {
  width: 100%;

  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.learn-info {
  min-height: 100px;

  margin: 10%;
  padding: 10px;

  border-radius: 50px;
  border: 2px solid #000;
  background: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-title {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learn-type {
  width: fit-content;
  white-space: nowrap;
  padding: 5px;
  margin-right: 5px;
}

.learn-title-text {

  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;

}

.learn-name {
  color: #8d8f98;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* SplideAcoompany CSS */
#splide-accompany {
  width: 100%;

  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.acc-info {
  min-height: 100px;

  margin: 10%;
  padding: 10px;

  border-radius: 50px;
  border: 2px solid #000;
  background: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acc-title {
  margin-bottom: 5px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.acc-place {
  color: #8d8f98;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.acc-date {
  color: #8d8f98;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 더 많은 정보 찾기 CSS */
.text-and-icon {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-and-icon-text {
  color: #000;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-and-icon-icon {
  margin-left: 1%;
}

/* splide pagination CSS */
.splide__pagination__page {
  background-color: #FFE000;
}

.splide__pagination__page.is-active {
  background-color: #259328;
}