/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
}

/* favicon image */
.favicon-img {
  height: 80%;
}

/* badge */
.badge-coach {
  border-radius: 50px;
  background: #72ce27;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.badge-learn {
  border-radius: 50px;
  background: #ffe000;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

/* Interactive Pagination CSS */
/* 골프장, 스터디, 동행 모집 CSS  */
.container {
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-head {
  width: 700px;
  height: 160px;
  max-width: 36%;

  margin: 80px 0px 50px 0px;
  padding: 20px;

  border-radius: 30px;
  border: 2px solid #000;
  background: #FFF;
}

.container-head-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
}

.container-head-desc {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
}

.container-body {
  width: 100%;
  height: calc(100% - 200px);
}

.list-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

/* 리스트 본체 */
/* 미선택 시 */
.list-container-list-unselected {
  width: 90%;
  height: 650px;
  max-width: 1820px;

  padding: 10px 100px;
  border-radius: 50px;
  border: 2px solid #000;

  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 선택 시 */
.list-container-list-selected {
  width: 55%;
  height: 650px;
  /* max-width: 1100px; */

  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid #000;

  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-head {
  width: 95%;
  height: 60px;

  padding-top: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head-create-button {
  width: 120px;
  height: 50px;

  border-radius: 50px;
  border: 2px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.search-container {
  width: 60%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-container {
  width: 100%;
  height: 50px;
  min-width: 200px;

  margin-right: 10px;
  padding: 10px;

  box-shadow: none;
  border-radius: 10px;
  background: #F7F7F7;

  position: relative;
}

.search-input-box {
  width: 88%;
  height: 100%;
  margin-right: 2%;

  border: none;
  outline: none;
  box-shadow: none;
  background: #F7F7F7;
}

.search-input-icon {
  width: 10%;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;
}

.list-body-unselected {
  width: 100%;
  height: 510px;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  overflow: hidden;
}

.list-body-selected {
  width: 100%;
  height: 510px;

  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  overflow: scroll;
}

.list-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

/* 리스트 선택 시 등장하는 내용 */
.selected-container {
  width: 34%;
  height: 650px;
  /* max-width: 700px; */

  margin-left: 1%;

  padding: 30px 40px;
  border-radius: 50px;
  background-color: #FFF;
  border: 2px solid #000;
}

.selected-container-head {
  width: 100%;
  height: 80px;
}

.selected-container-title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.title-text {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.selected-container-body {
  width: 100%;
  height: 440px;
  margin: 10px 0px;

  border-radius: 20px;
  border: 1px solid #6B6B6D;
  background: #FFF;
  overflow: hidden;
}

/* textarea CSS */
.accompany-textarea {
  width: 100%;
  height: 340px;
  padding: 10px;
  text-align: left;
  overflow-y: scroll;
}

.selected-container-info {
  width: 100%;
  height: 50px;

  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #F7F7F7;
  border-top: 1px solid #000;
}

.info-text-left {
  width: 55%;
  height: 30px;

  border-radius: 20px;
  border: 1px solid #000;
  background: #FFF;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;

  display: flex;
  justify-content: center;
}

.info-text-right {
  width: 45%;
  height: 100%;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.selected-container-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Color CSS */
.bg-accompany {
  background-color: #80CAFF;
}

.bg-golffield {
  background-color: #FF8A8A;
}

.bg-coach {
  background-color: #78CB50;
}

.bg-learn {
  background-color: #FFE000;
}

/* Shadow CSS */
.list-head-shadow {
  position: fixed;
  top: 155px;
  left: calc(50% + 15px);
  transform: translateX(-50%);

  width: 700px;
  height: 150px;
  max-width: 36%;
  border: 2px solid #000;

  border-radius: 30px;
  z-index: -1;
}

.list-head-pin{
  position: fixed;
  top: 110px;
  left: calc(50% + 300px);

  width: 80px;
  height: 80px;
  max-width: 36%;
  font-size: 48px;

  border-radius: 30px;
  z-index: 999;
  
  color: red;
  border: #000;
}

.list-background-div {
  position: fixed;
  top: 364px;
  left: calc(50% + 20px);
  transform: translateX(-50%);

  width: 90%;
  height: 650px;
  max-width: 1820px;
  border: 2px solid #000;

  border-radius: 50px;
  z-index: -1;
}

/* Common CSS */
.button {
  width: 250px;
  height: 40px;
  max-width: 60%;
  border-radius: 50px;
  border: 1px solid #000;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.margin-top-20 {
  margin-top: 20px;
}

.cursor-able {
  cursor: pointer;
}

.checkbox-div {
  white-space: nowrap;
}

.checkbox {
  box-shadow: none;
  margin: 0px 5px 0px 10px;
}

.tee-icon {
  width: 50px;
  height: 50px;
}

.box-author-position {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.box-author {
  width: auto;
  height: 30px;
  padding: 10px;

  border-radius: 20px;
  background-color: #EBEBEB;

  display: flex;
  align-items: center;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
}

.profile-icon {
  width: 32px;
  height: 32px;
}

.react-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Footer */
.Footer {
  background-color: dodgerblue;
}