/* create container CSS */



/* Shadow CSS */
.create-body-shadow{
    position: fixed;
    top: 364px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
  
    width: 90%;
    height: 650px;
    max-width: 1820px;
    border: 2px solid #000;
  
    border-radius: 50px;
    z-index: -1;
  }