/* Interactive Pagination CSS */
/* 골프장, 스터디, 동행 모집 CSS  */
.container {
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-head {
    width: 700px;
    height: 140px;
    max-width: 36%;

    margin: 30px 0px 35px 0px;
    padding: 20px;

    border-radius: 25px;
    border: 2px solid #000;
    background: #FFF;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}

.container-head-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.container-head-desc {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.container-body {
    width: 100%;
    height: calc(100vh - 4rem - 235px);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.list-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

/* 리스트 본체 */
/* 미선택 시 */
.list-container-list-unselected {
    width: 90%;
    height: 100%;
    max-width: 1820px;

    padding: 10px 100px;
    border-radius: 50px;
    border: 2px solid #000;

    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* 선택 시 */
.list-container-list-selected {
    width: 55%;
    height: 100%;
    max-width: 1100px;

    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #000;

    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.list-head {
    width: 95%;
    height: 50px;

    padding-top: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head-create-button {
    width: 120px;
    height: 45px;

    padding-top: 2px;

    padding-top: 2px;

    border-radius: 50px;
    border: 2px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
}

.search-container {
    width: 60%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input-container {
    width: 100%;
    height: 47px;
    min-width: 200px;

    margin-right: 10px;
    padding: 10px;

    box-shadow: none;
    border-radius: 10px;
    background: #F7F7F7;

    justify-content: space-between;

    position: relative;
    display: flex;
}

.search-tee-box-container {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

.search-tee-items {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.search-tee-item {
    width: 40px;
    height: 40px;
}

.search-tee-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.search-tee-img-selected {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
    background-color: #DEDEDE;
}

.search-input-box {
    width: 88%;
    height: 100%;
    margin-right: 2%;

    border: none;
    outline: none;
    box-shadow: none;
    background: #F7F7F7;
}

.search-input-icon {
    width: 10%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
}

.list-body-unselected {
    width: 100%;
    height: 500px;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
/* justify-content: center; */
    display: flex;
  flex-direction: column;
  align-items: center; /* 수직 가운데 정렬 */
    overflow: hidden;
    /* justify-content: center; */
}

.list-body-selected {
    width: 100%;
    height: 510px;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    overflow: scroll;
    /* justify-content: center; */
}

.list-body-selected>div{
    width: 47%;
}

.list-footer {
    width: 100%;
    height: 34px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
}

/* 리스트 선택 시 등장하는 내용 */
.selected-container {
    width: 34%;
    height: 100%;
    max-width: 700px;

    margin-left: 20px;

    padding: 30px 40px;
    border-radius: 50px;
    background-color: #FFF;
    border: 2px solid #000;
}

.selected-container-head {
    width: 100%;
    height: 20%;
}

.selected-container-title {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.title-text {
    color: #000;
    text-align: left;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.selected-container-body {
    width: 100%;
    height: 70%;
    margin: 10px 0px;

    border-radius: 20px;
    border: 1px solid #6B6B6D;
    background: #FFF;
    overflow: hidden;
}

/* textarea CSS */
.accompany-textarea {
    width: 100%;
    height: 75%;
    padding: 10px;
    text-align: left;
    overflow-y: scroll;
}

.coaching-textarea{
    width: 100%;
    height: 88%;
    padding: 10px;
    text-align: left;
    overflow-y: scroll;
}

.selected-container-info {
    width: 100%;
    height: 12.5%;

    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F7F7F7;
    border-top: 1px solid #000;
}

.info-text-left {
    width: 60%;
    height: 70%;

    align-items: center;

    border-radius: 20px;
    border: 1px solid #000;
    background: #FFF;

    color: #000;
    font-size: 15px;
    font-weight: 400;

    display: flex;
    justify-content: center;
}

.info-text-right {
    width: 45%;
    height: 100%;

    color: #000;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.selected-container-footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shadow CSS */
.list-head-shadow {
    position: absolute;
    top: 12px;
    left: calc(50% + 12px);
    transform: translateX(-50%);

    width: 100%;
    height: 100%;

    border: 2px solid #000;

    border-radius: 25px;
    z-index: -1;
}

.list-head-pin {
    position: absolute;
    top: -40px;
    left: calc(93%);

    width: 75px;
    height: 75px;
    max-width: 36%;
    font-size: 48px;

    border-radius: 30px;
    z-index: 50;

    color: red;
    border: #000;
}

.list-background-div {
    position: absolute;

    top: 15px;
    left: calc(50% + 15px);
    transform: translateX(-50%);

    width: 90%;
    height: 100%;
    max-width: 1820px;
    border: 2px solid #000;

    border-radius: 50px;
    z-index: -1;
}