#container {
  min-height: 520px;
  min-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#layout {
  height: 100%;
  width: 100%;
  display: flex ;
  justify-content: center ;
  align-items: center;
}
.div {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  height:100% !important;
  width:100% !important;
  /* justify-content: center !important; */
  min-height: 440px;
  min-width: 800px;
  /* margin-top: 30px; */
  left: 0px !important;
  top: 0px !important;
}

.roombox-container{
  display: flex;
  position: relative !important; 
  justify-content: center;
  /* align-items: center; */
  margin-top: 30px;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
}
.roombox-body {
  /* display: flex !important; */
  /* justify-content: center !important;
  align-items: center; */
  height: 840px;
  width: 1680px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 6fr 3fr
}

.grid-room {
  height: 800px; /* 높이 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  /* color: white; */
  font-weight: bold;
}

.room1 {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.me {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 240px;
}

.room2 {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-splide {
  border: 1px solid;
  width: 780px;
  height: 180px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.box-mainrtc {
  border: 1px solid;
  width: 780px;
  height: 600px;
  /* margin-bottom: 10px; */
  position:relative;
  border-radius: 50px;
}

.room3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-color: gray;
  margin: 5px;
  height: 225px;
  width: 300px;
}

.tempo {
  width: 640px;
  height: 486px;
  max-width: 800px;
  max-height: 600px;
  border-radius: 20px;
  background-color: gray;
}

.enterbox-head {
  /* position: absolute; */
  width: 90%;
  height: 100px;
  border-radius: 25px;
  border:2px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 48px;
  color: black;
  margin-top: 5px;
  margin-bottom: 0; /* 마진 없애기 */
}

.enterbox-body {
  display: flex ;
  justify-content: center ;
  align-items: center;
  height: 80%;
  width: 90%;
  margin-top: 50px;
}

.enter-img-box {
  height: 700px;
  width: 200px;
  position:relative;
  margin-left: 20px;
  margin-right: 20px;
}

.enter-img-box img.swing-mascot {
  position: absolute;
  bottom: 0;
  left: 0;
}

.check-box {
  display: flex ;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 900px;
  border-radius: 40px;
  border: 2px solid black;
  background-color:white;
  position: relative;
}

.check-box-background-div {
  position: absolute;
    top: 15px;
    left: calc(50% + 15px);
    transform: translateX(-50%);
    height: 700px;
    width: 900px;
    max-width: 1820px;
    border: 2px solid #000;
    border-radius: 50px;
    z-index: -1;
}
.check-box-background-div.learning-bg {
  background-color: #FFE000;
}

.check-box-background-div.coaching-bg {
  background-color: #78CD50;
}

.toolbar-box {
  height:64px;
  position: relative ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px ;
  margin-top: 10px;
}

.toolbar-enterbox{
  height: 96px;
  position: relative ;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.roomtype {
  width: 75px;
  height: 40px;
  border-radius: 48px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterbox-head.learning-bg {
  background-color: #FFE000;
}

.enterbox-head.coaching-bg {
  background-color: #78CD50;
}

.typename {
  font-size: 28px;
  color: black;
  font-weight: bold;
}

.copy-url {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin-left: auto;
}

.go-back {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin-right: 30px; /* 제일 오른쪽에 위치하도록 설정 */
}

.alert {
  width: 300px;
  height: 400px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.check-me {
  width: 600px;
  height: 450px;
  display: flex;
  border-radius: 30px;
  flex-direction: column; /* 컴포넌트들을 세로로 나열 */
}

.enter-button {
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px; /* 옵션: 버튼 내부 여백 조절 */
  font-weight: bold; /* 옵션: 텍스트 굵기 설정 */
  margin-top: 10px;
  margin-left: 10px;
  width: 320px;
  height: 36px;
  border: 1px solid;
}

.enter-button.learning-bg:hover {
  background-color : #FFE000;
  color: white;
}

.enter-button.coaching-bg:hover {
  background-color : #78CD50;
  color: white;
}

.enter-button.learning-bg {
  transition: background-color 0.3s ease;
  color: #FFE000;
}

.enter-button.coaching-bg {
  transition: background-color 0.3s ease;
  color: #78CD50;
}

.title {
  font-size: 1.2rem;
}

.content {
  font-size: 1rem;
}


.enter {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 70px;
  align-items: center;
}
