.div {
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  height:450px;
  width:100%;
}

.roombox-body {
  /* display: flex !important; */
  /* justify-content: center !important;
  align-items: center; */
  height: 75vh;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 6fr 3fr
}

.grid-room {
  height: 100%; /* 높이 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  color: white;
  font-weight: bold;
}

.room1 {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.me {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 30%;
}

.room2 {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-splide {
  background-color: yellowgreen;
  width: 95%;
  height: 25%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-mainrtc {
  background-color: yellowgreen;
  width: 95%;
  height: 70%;
  margin-bottom: 10px;
  position:relative;
}

.room3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-color: gray;
  margin: 5px;
  height: 225px;
  width: 300px;
}

.tempo {
  width: 640px;
  height: 486px;
  max-width: 800px;
  max-height: 600px;
  border-radius: 20px;
  background-color: gray;
}
.toolbar-box {
  height:40px;
  position: absolute !important;
  bottom: 10px !important;
  left: 0 !important;
  width: 100% !important;
}

.enterbox-head {
  /* position: absolute; */
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  color: black;
  margin-bottom: 0; /* 마진 없애기 */
}

.enterbox-body {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  height: 450px;
  width: 100%;
}


.roomtype {
  width: 75px;
  height: 28px;
  border-radius: 48px;
  background: #FFE000;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typename {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.copy-url {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FF7F50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  cursor: pointer;
  margin-left: auto;
}

.go-back {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  cursor: pointer;
  margin-right: 30px; /* 제일 오른쪽에 위치하도록 설정 */
}

.alert {
  width: 300px;
  height: 400px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.check-me {
  width: 550px;
  height: 400px;
  display: flex;
}

.enter-button {
  background-color: lightgreen;
  border-radius: 10px;
  padding: 5px 10px; /* 옵션: 버튼 내부 여백 조절 */
  color: white; /* 옵션: 텍스트 색상을 흰색으로 설정 */
  font-weight: bold; /* 옵션: 텍스트 굵기 설정 */
}


.title {
  font-size: 1.2rem;
}

.content {
  font-size: 1rem;
}


.enter {
  display: flex;
  justify-content: center;
}














  
