/* Accompany.js */
.accompany-body {
  width: 100%;
  height: calc(100% - 200px);
}

/* AccompanyList.js */
.search-filter {
  height: 50px;
  min-width: 100px;
  margin-left: 10px;

  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;

  padding: 10px;
  font-size: 16px;
}

.search-filter option {
  background: #FFF;
}

/* AccompanyBox CSS */
.accompany-box {
  width: 480px;
  height: 220px;
  max-width: 48%;

  margin: 10px 5px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
}

.accompany-box-title {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
}

.accompany-box-author-position {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.accompany-box-author {
  width: auto;
  height: 30px;
  padding: 10px;

  border-radius: 20px;
  background-color: #EBEBEB;

  display: flex;
  align-items: center;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
}

.accompany-box-date {
  display: flex;
  align-items: center;
}

.accompany-box-place {
  display: flex;
  align-items: center;
}

.accompany-box-button-position {
  width: 100%;
  display: flex;
  justify-content: center;
}

.accompany-box-button {
  width: 200px;
  height: 40px;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  cursor: pointer;
  background-color: #FFF;
  border-radius: 50px;
  border: 2px solid #3CADFF;

  color: #3CADFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 900;
}

/* joining-room */
.joining-room {
  height: 90%;
  width: 33%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joining-title {
  text-align: left;
}

.joining-author {
  display: flex;
  justify-content: flex-end;
}

.joining-author-box {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
}

.joining-description {
  text-align: center;
  border: 1px solid #000;
}

.joining-button {
  background-color: yellow;
}

/* CreateAccompony */
.createA-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.createA-mainbox {
  width: 700px;
  height: 580px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #fff;
  padding: 3rem;
  display: flex;
  /* 가운데 정렬을 위해 flex로 설정 */
  flex-direction: column;
  /* 세로 방향으로 정렬되도록 설정 */
  align-items: center;
  /* 수평 가운데 정렬 */
  box-shadow: 10px 10px 0px 0px #000;
}

.createA-title {
  height: 40px;
  width: 640px;
  border: 1px solid #000;
  padding: 10px 48px;
  /* 텍스트 입력과 테두리 사이의 간격을 주기 위한 padding 추가 */
  box-sizing: border-box;
}

.createA-content {
  width: 640px;
  height: 540px;
  border: 1px solid #000;
  padding: 10px 48px;
  /* 텍스트 입력과 테두리 사이의 간격을 주기 위한 padding 추가 */
  box-sizing: border-box;
  /* 요소의 크기에 padding과 border를 포함시킴 */
}

.createA-password {
  width: 640px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px 48px 5px 48px;
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  align-items: center;
  /* 수평 가운데 정렬 */
}

.createA-password input {
  height: 30px;
  text-align: center;
  padding: 5px;
}

.createA-num {
  width: 640px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px 48px 5px 48px;
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  align-items: center;
  /* 수평 가운데 정렬 */
}

.createA-num input {
  height: 30px;
  text-align: center;
  padding: 5px;
}

.createA-accompanydate {
  width: 640px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px 48px 5px 48px;
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  align-items: center;
  /* 수평 가운데 정렬 */
}

.createA-enddate {
  width: 640px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px 48px 5px 48px;
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  align-items: center;
  /* 수평 가운데 정렬 */
}

.createA-map {
  width: 640px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px 48px 5px 48px;
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  align-items: center;
  /* 수평 가운데 정렬 */
}

.createA-datetime-input {
  width: 300px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
}

.createA-icon {
  width: 640px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px 48px 5px 48px;
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  align-items: center;
  /* 수평 가운데 정렬 */
}

.icon-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon img {
  width: 30px;
  height: 30px;
  border: 3px solid #ccc;
  padding: 2px;
}

.icon {
  cursor: pointer;
}

.selected-icon {
  border: 3px solid green;
}

.createA-buttons {
  display: flex;
  /* 버튼들을 가로로 나열하는 flex 컨테이너 */
  justify-content: space-between;
  /* 버튼들 사이에 공간을 최대한 분배하여 배치 */
  width: 640px;
  /* 부모 요소의 너비와 동일하게 설정 */
  margin: 20px 0;
  /* 버튼들 위아래에 20px 간격 주기 */
}