/* Accompany.js */
.accompany-body {
  width: 100%;
  height: calc(100% - 200px);
}

/* AccompanyList.js */
.search-filter {
  height: 45px;
  min-width: 150px;
  margin-left: 10px;

  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;

  padding: 10px;
  font-size: 16px;
}

.search-filter option {
  text-align: center;
  background: #FFF;
}

/* AccompanyBox CSS */
.accompany-box {
  width: 480px;
  min-height: 210px;

  margin: 10px 10px;
  padding: 10px 30px;
  
  border-radius: 30px;
  border: 2px solid #000;

  display: flex;
  flex-direction: column;
}

.accompany-box-title {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accompany-box-date {
  display: flex;
  align-items: center;
}

.accompany-box-place {
  display: flex;
  align-items: center;
}

.accompany-box-button-position {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.accompany-box-button {
  width: 200px;
  height: 40px;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  cursor: pointer;
  background-color: #FFF;
  border-radius: 50px;
  border: 2px solid #3CADFF;

  color: #3CADFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 900;
}
