#Golffield {
  height: calc(100vh - 4rem);
}

#golf-title {
  margin-top: 10px;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#golf-search {
  padding: 20px;

  margin-right:20px;

  height: 100%;
  width:50%;
  max-width: 90%;
  /* max-height: 90%; */

  border-radius: 50px;
  border: 2px solid #000;
  background-color: #fff;
  /* box-shadow: 20px 20px 0px 0px #FE7377; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Search CSS */
#search-box {
  width: 100%;
  height: 90px;

  overflow-x: scroll;
  overflow-y: hidden;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#searchWord {
  margin-right: 10px;
  padding: 5px;
  padding-left: 22px;

  width: 95%;
  height: 50px;

  box-shadow: none;
  border-radius: 50px;
  border: 2px solid #000;
  background: #fff;
}

#search-icon {
  width: 50px;
  height: 50px;
  min-width: 50px;

  border-radius: 50%;
  background-color: #FFF;
  border: 2px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Result CSS */
#result-box {
  width: 100%;
  height: calc(100% - 90px);

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  margin-top:30px;
}

#kakao-map {
  width: 38.8%;
  height: 100%;

  padding-right: 10px;
  position: relative;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  border:2px solid black;
  padding:30px;

  background-color:white;
  /* box-shadow: 20px 20px 0px 0px #FE7377; */
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

#result {
  /* width: 50%; */
  height: 100%;
}

#result-list {
  width: 100%;
  height: calc(95%);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

/* Pagination CSS */
#result-control {
  width: 100%;
  height: 34px;

  margin-top: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.control-arrow {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.control-arrow:disabled {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
  cursor: default;
}

#control-num {
  margin-left: 10px;
  margin-right: 10px;

  justify-items: center;
  display: flex;
  align-items: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* GolfBox CSS */
.GolfBox {
  /* width: calc(100% - 10px); */
  width: calc(50% - 15px); /* Subtracting 10px to account for a 5px margin on both sides */
  box-sizing: border-box; /* This ensures padding and border are included in the 50% width */
  /* margin: 5px; */

  margin-right: 15px;
  padding: 30px;
  margin-bottom: 15px;

  border-radius: 30px;
  border: 1px solid #000;
  background: #fff;

  text-align: left;
  border: 2px solid black;
  min-height: 195px;

  transition: background-color 0.3s ease;
}
.GolfBox:hover{
 border-color: #FF8A8A;
}
.GolfBox:active{
  background-color: #ffb4b4;
  border-color: #FF8A8A;
}
.GolfBox.selected {
  background-color: #FF8A8A;
  color: white; 
  border-color: #FF8A8A;
}
.GolfBox.selected > .golfbox-top > .golfbox-content >.golfbox-add,
.GolfBox.selected > .golfbox-top > .golfbox-content >.golfbox-call    {
  color: white; 
}
.golfbox-top{
  height: 85%;
  width: 100%;
}
/* .golfbox-content{
  height: 55%;
  width: 100%;

} */
.golfbox-button{
    height: 15%;
      display: flex;
  justify-content: center;
  align-items: center;
}

.golfbox-title {
  display: flex;
  /* justify-content: space-between; */

}

.golfbox-name {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.golfbox-naver{
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

.golfbox-add {
  color: #8d8f98;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left:25px;
}

.golfbox-call {
  color: #8d8f98;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left:25px;
}

.react-icon-golf {
  position:relative;
  top:-5px;
  left:-5px;
}

.react-icon-marker {
  position:relative;
  top:15px;
  left:2px;
}

.golf-background-div {
  position: absolute;

  top: 295px;
  left: calc(50% + 20px);
  transform: translateX(-50%);

  width: 1570px;
  height: 650px;
  max-width: 1820px;
  border: 2px solid #000;

  border-radius: 50px;
  z-index: -1;
}