#Golffield {
  height: calc(100vh - 4rem);
}

#golf-title {
  margin-top: 10px;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#golf-search {
  margin: 10px auto 20px;
  padding: 20px;

  width: 1240px;
  height: 800px;

  border-radius: 50px;
  border: 1px solid #000;
  background-color: #FFF;
  box-shadow: 20px 20px 0px 0px #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Search CSS */
#search-box {
  width: 1110px;
  height: 60px;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#areaSelector {
  padding: 5px;

  width: 550px;
  height: 50px;

  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;
}

#searchWord {
  margin: 10px;
  padding: 5px;

  width: 480px;
  height: 50px;

  box-shadow: none;
  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;
}

.icon-div {
  width: 50px;
  height: 50px;

  border-radius: 50px;
  background-color: #72CE27;
  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Result CSS */
#result-box {
  height: 80%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#kakao-map {
  height: 100%;
  width: 100%;
  background-color: orange;
}

#map {
  height: 50%;
  width: 550px;
  background-color: red;

  /* margin-top: auto; */
  margin-bottom: auto;
}

#result-list {
  /* height: 100%;
  width: 50%; */

  display: grid;
  grid-template-columns: repeat(1, 100%);
  /* Two columns with 50px width each */
  gap: 10px;
  /* Add some gap between images (optional) */
  max-height: 100%;
  /* Adjust the maximum height as needed */
  overflow-y: scroll;
}