#Solution {
    padding:40px;
}

#Solution canvas{
    /* margin-top:50px; */
    top:130px;
    left:75px;
}

.live-video-wrapper-green {
    height:550px;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 25px 25px 0px 0px #3bd641;
    margin: 0;
    padding: 20px;
}

.live-video-wrapper-yellow {
    height:550px;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 25px 25px 0px 0px #ffe000;
    margin: 0;
    padding: 20px;
}

.live-video-wrapper-red {
    height:550px;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 25px 25px 0px 0px #ff4949;
    margin: 0;
    padding: 20px;
}

.live-video {
    height:480px;
    background: radial-gradient(circle, #268bff, black);
    border-radius:30px;
    border:2px solid black;
}

.recorded-video-wrapper-green {
    width:700px;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 25px 25px 0px 0px #3bd641;
    margin: 0;
    padding: 30px;
}

.recorded-video-wrapper-yellow {
    width:700px;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 25px 25px 0px 0px #ffe000;
    margin: 0;
    padding: 30px;
}

.recorded-video-wrapper-red {
    width:700px;
    border-radius: 30px;
    border:2px solid black;
    box-shadow: 25px 25px 0px 0px #ff4949;
    margin: 0;
    padding: 30px;
}

.recorded-video {
    border-radius:30px;
    border:2px solid black;
}

.recorded-video-placeholder-title {
    margin-top:110px;
    font-weight:bold;
    font-size:50px;
}

.recorded-video-placeholder-content {
    font-weight:bold;
    font-size:25px;
}

.evaluation {
    font-weight: bold;
    font-size:50px;
    
}

.analysis-loading-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px; /* Adjust this to match the height of the video */
  }
  
.loading-image {
    width: 250px; /* Adjust the size as needed */
    height: 250px;
    margin: 10px auto;
}