/* MyPage CSS */
#MyPage {
  height: calc(100vh - 4rem);
  display: flex;

  position: relative;
}


/* MyPageBox CSS */
#MyPageBox {
  width: 100vw;
  height: 100hw;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.mypage-area {
  width: 80%;
  height: 100%;

  display: flex;
}

/* MyPageNavbar CSS */
#MyPageNavbar {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-width: 0px 2px 0px 0px;
  border-color: #000;

  /* border-radius: 50px 0px 0px 50px; */
  background: #3BD641;
}

.my-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-nav li {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



/* EditProfile CSS */
#EditProfile {
  width: 80%;
  height: 100%;



  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-pic {
  width: 40%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pic-button {
  background: white;
  border: 2px solid black;
  width: 200px;
  height: 45px;
  border-radius: 50px;
  padding: 4px 35px;
  color: rgba(59, 214, 65, 1);
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
}

#pic-button:hover {
  color: white;
  background: rgba(59, 214, 65, 1);
}

#pic-circle {
  width: 60%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#edit-pic {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#edit-info {
  width: 57%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50px;
  margin: 0px 40px 0px 0px;
}

#edit-info-text {
  height: calc(90% - 50px);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 수평 정렬 */
  justify-content: center;
  /* 수직 정렬 */
}

#edit-title {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  height: 10%;
}

#edit-header-start {
  margin: 10px 0px 2px 0px;
  font-size: 14px;
  text-align: left;
  padding-left: 115px;
  width: 100%;
}

#edit-header {
  margin: 18px 0px 2px 0px;
  font-size: 14px;
  text-align: left;
  padding-left: 115px;
  width: 100%;
}

#edit-header-importance {
  color: #E81212;
}

#edit-email,
#edit-nickname,
#edit-introduction,
#edit-golf-info1-1,
#edit-golf-info1-2 {
  display: flex;
  align-items: center;
  padding: 0px 30px 0px 30px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 50px;
  height: 35px;
  width: 80%;
}

#edit-golf-info1-1,
#edit-golf-info1-2,
#edit-nickname,
#edit-introduction {
  box-shadow: none;
}

#edit-email,
#edit-introduction {
  margin: 0px 80px 0px 80px;
  width: calc(100% - 160px);
}

#edit-nickname {
  width: 100%;
  margin: 0px 20px 0px 80px;
}

#edit-nickname-div {
  display: flex;
  width: 100%;
}

#edit-intro {
  width: 100%;
}

#edit-check-button {
  background-color: rgba(59, 214, 65, 1);
  color: white;
  border: 2px solid black;
  border-radius: 50px;
  width: 140px;
  height: 35px;
  margin-right: 80px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#edit-check-button {
  font-weight: bold;
}

#edit-check-button:hover {
  color: rgba(59, 214, 65, 1);
  background-color: white;
}


#edit-golf-info1-div {
  display: flex;
  width: 100%;
}

#edit-golf-info1-1-div {
  margin-right: 10px;
  margin-left: 80px;
  width: 50%;
}

#edit-golf-info1-2-div {
  margin-left: 10px;
  margin-right: 80px;
  width: 50%;
}

#edit-golf-info1-1 {
  width: 100%;
}

#edit-golf-info1-2 {
  width: 100%;
}

#edit-golf-info1-header {
  margin: 23px 0px 2px 0px;
  font-size: 14px;
  text-align: left;
  padding-left: 34px;
}


#edit-golf-info2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  padding: 0px 5px;
}

#edit-golf-info2-div {
  width: 100%;
  padding: 0px 80px 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#teebox {
  background-color: #FFF;
  display: flex;
  margin-right: 15px;
  font-size: 16px;
}

#teebox-end {
  display: flex;
}

#teebox-img {
  width: 25px;
  height: 25px;
}

#edit-teebox-icon {
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#edit-button-div {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#edit-button {
  border-radius: 50px;
  border: 2px solid #000;
  background: #3BD641;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 20px;
}

#edit-button:hover {
  color: rgba(59, 214, 65, 1);
  background: white;
}

/* EditPassword CSS */
#EditPassword {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-pass {
  width: 57%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50px;
  margin: 0px 40px 0px 0px;
}

#edit-pass-text {
  height: calc(90% - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 수평 정렬 */
  justify-content: center;
  /* 수직 정렬 */
}

#edit-pass-header {
  margin: 18px 0px 2px 0px;
  font-size: 14px;
  width: 100%;
  padding-left: 115px;
  text-align: start;
}

#edit-pass-new,
#edit-pass-check,
#edit-pass-origin {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input-origin,
#input-new,
#input-check {

  padding: 0px 30px 0px 30px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 50px;
  height: 45px;
  width: 80%;
  box-shadow: none;
}

#edit-pass-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 20px;
}



/* MyAccompany CSS */
#MyAccompany {
  width: 80%;
  height: 100%;

  /* background-color: #3498db; */
  /* display: flex;
  align-items: center; 
  justify-content: center; */
}

#myacc-title {
  width: auto;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  /* background-color: #E81212; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#myacc-toggle {
  width: 100%;
  height: 60px;
}

.toggle-button {
  width: 50px;
  height: 30px;
  margin: 5px;

  border-radius: 20px;

  cursor: pointer;

  transition: background-color 0.1s ease-in-out;
}

.toggle-button:hover {
  background-color: gray;
}

.myacc-toggle-true {
  background-color: #3BD641;
}

.myacc-toggle-false {
  background-color: #FFFF;
}

#myacc-list {
  height: calc(100% - 160px);
  overflow-y: scroll;
}

#myacc-body {
  margin: 20px 40px 90px 40px;
  display: flex;
  flex-wrap: wrap;
}

#myacc-list-div {
  border: 2px solid black;
  border-radius: 30px;
  background-color: #FFF;
  width: calc(33.3% - 40px);
  height: auto;
  min-height: 200px;
  margin: 10px 20px 10px 20px;

  white-space: normal;
  /* 내용이 범위를 벗어나면 자동으로 줄바꿈 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#myacc-list-div:hover {
  border: 2px solid rgba(59, 214, 65, 1);
  transition: background-color 0.3s ease;
}

#myacc-list-top-div {
  display: flex;
  align-items: center;
}

#myacc-list-title {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 0px 0px 25px;
  width: 100%;
  text-align: left;
}

#myacc-list-teebox {
  /* background-color: #3BD641; */
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 5px 18px 0px 0px;
}

#teebox-img {
  width: 50px;
  height: 50px;
}

#myacc-list-field {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  padding-left: 25px;
  padding-top: 10px;
  text-align: left;
}

#myacc-list-day {
  font-size: 15px;
  display: flex;
  padding-left: 25px;
}

#myacc-list-button {
  width: 90%;
  height: auto;
  border: 2px solid black;
  border-radius: 50px;

  margin: 10px;
  padding: 5px;
  bottom: 10px;

  background-color: #3BD641;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#myacc-list-button:hover {
  background-color: #FFF;
  border-color: #3BD641;
  color: rgba(59, 214, 65, 1);
}

/* MyChat CSS */
#chat-bar {
  width: 30%;
  height: 100%;

  border-width: 0px 1px 0px 0px;
  border-color: #000;
  background: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chat-search {
  width: 100%;
  height: 50px;
  padding: 10px;
}

#chat-list {
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

#chat-room {
  width: 70%;
  height: 100%;
  /* margin: 10px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.chat-box {
  width: 100%;
  height: auto;
}

/* ListRoom (Component) CSS */
.ListRoom {
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;

  padding: 20px;

  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;

  display: flex;
  flex-direction: column;
}

.listroom-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.listroom-title {
  color: #000;
  text-align: left;
  font-size: 32px;
}

.listroom-tee {
  width: 40px;
  height: 40px;
}

.listroom-data>div {
  color: #000;
  text-align: left;
  font-size: 20px;
}

/* ChatRoom (Component) CSS */
.ChatRoom {
  width: 100%;
  height: 100%;
}

#room-header {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid #000;
  background: #4ab4ff;
}

#room-title {
  color: white;
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

#room-tee {
  position: absolute;
  right: 25px;
}

#room-field {
  text-align: left;
}

#room-date {
  text-align: left;
}

#room-text {
  width: 100%;
  height: calc(100% - 200px);
  background-color: #80caff;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#room-footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #000;
  background-color: white;
  padding: 20px;
  padding-right: 100px;

  display: flex;
}

.chat-footer-input {
  width: calc(100% - 30px);
  height: 60px;

  margin: 20px;
  padding: 20px;

  border-radius: 20px;
  border: 1px solid black;
  box-shadow: none;

  background-color: yellow;
}

.chat-footer-button {
  width: 10px;
  height: 100%;
  background-color: red;
}

#icon-div {
  position: absolute;
  margin-top: 11px;
}

/* MyChatBox (Component) CSS */
.MyChatBox>div {
  float: right;
  padding: 7px;
}

.MyChatBox>img {
  float: right;
  position: relative;
  right: 20px;
}

.mychat-time {
  color: #343434;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 5px;
  position: relative;
  right: 40px;
}

.mychat-message.right {
  right: 40px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

.mychat-message.right::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: white;
  z-index: -1;
}

.mychat-message.right::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -14px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: white;
}

.mychat-nickname {
  position: relative;
  font-weight: bold;
  float: right;
  right: 120px;
}

#mychat-pic {
  border-radius: 100%;
  border: 1px solid black;
  background-color: #77c2fc;
  position: relative;
  top: -20px;
}

/* OtherChatBox (Component) CSS */
.OtherChatBox>div {
  float: left;
  padding: 7px;
}

.OtherChatBox>img {
  float: left;
  position: relative;
  left: 20px;
}

.otherchat-time {
  color: #343434;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 5px;
  position: relative;
  left: 40px;
}

.otherchat-message.left {
  left: 40px;
  background-color: #ffdd67;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

.otherchat-message.left::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #ffdd67;
  z-index: -1;
}

.otherchat-message.left::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -14px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: #ffdd67;
}

.otherchat-nickname {
  position: relative;
  font-weight: bold;
  float: left;
  left: 120px;
}

#otherchat-pic {
  border-radius: 100%;
  border: 1px solid black;
  background-color: #77c2fc;
  position: relative;
  top: -20px;
}

/* ChatBox Common CSS */
.chatbox {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 5px;
}

/* MyFollow CSS */
#MyFollow {
  display: flex;
  flex-direction: column;
}

#myfollow-title {
  padding-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 27px;
}

#myfollow-list-wrap {
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

#myfollow-list {
  width: 100%;
  height: 100%;

  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: flex-start;
}

.myfollow-box {
  width: calc(50% - 40px);
  /* max-width: 90%; */
  min-height: 230px;
  margin: 20px;
  cursor: pointer;
}

/* FollowBox CSS */
.FollowBox {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;

  padding: 40px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #FFF;

  flex: 1 1 40%;
  display: flex;
}

.followbox-header {
  max-width: 150px;
  margin-right: 10px;
}

.followbox-pic {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  overflow: hidden;

  border: 2px solid #000;
  background-color: #FF7272;
}

.pic-circle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followbox-body {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}

.followbox-name {
  margin: 10px 0px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 80%;
  text-align: left;
}

.followbox-info {
  display: flex;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  width: 80%;

}

.level {
  width: 40px;
  height: 40px;

  text-align: center;
  padding: 100% auto;

  border-radius: 50%;
  background-color: skyblue;

  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tee {
  width: 40px;
  height: 40px;
}

.badge {
  margin-right: 10px;
}

/* Signout CSS */
#Signout {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#signout-box {
  height: 90%;
  width: 60%;


  border: 2px solid black;
  border-radius: 50px;
}

#signout-title {
  font-size: 25px;
  font-weight: bold;
  margin: 40px 0px 20px 0px;
  height: 10%;
}

#reason-radio {
  height: 100%;
}

#signout-reason-div {
  display: flex;
  flex-direction: column;
  text-align: start;
}

#signout-top {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 2px;
  height: 40%
}

#signout-reason {
  margin-right: 50px;
}

#reason {
  font-size: 16px;
}

#reason-title {
  padding-top: 43px;
  padding-left: 10px;
  font-size: 17px;
}

#signout-reason-text {
  margin-top: 5px;
}

#reason-pic {
  width: 38%;
}

#reason-ect-input {
  border: 2px solid black;
  box-shadow: none;
  border-radius: 50px;
  padding: 3px 15px 3px 15px;
  width: 66%;
  height: 30px;
  margin-top: 3px;
}

#signout-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px;
  height: 10%;
}

#signout-button {
  border-radius: 50px;
  border: 2px solid #000;
  background: #E81212;
  width: 480px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 20px;
}

#signout-button:hover {
  color: #E81212;
  background-color: #FFF;
}


#signout-notice {
  text-align: left;
  padding-left: 120px;
  margin-top: 30px;
  font-size: 15px;
}

#signout-notice-checkbox {
  text-align: left;
  padding-left: 113px;
}

#signout-checkbox-label {
  font-size: 15px;
  vertical-align: middle;
}

#signout-checkbox {
  vertical-align: middle;
  margin-right: 3px;
  width: 17px;
  height: 17px;
  background-color: #3BD641;
}

/* MyPageNavbar */
.nav-title {
  margin: 30px 10px 10px 10px;
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.user-photo {
  margin: 15px 10px 20px 10px;
}

.user-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.user-level {
  margin-right: 10px;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.nav-mypage {
  background-color: #E81212;
  height: 35px;
  font-size: 10px;
}

.nav-list {
  list-style: none;
}

#nav-list-click {
  display: block;
  /*블록 레벨 요소로 설정 */
  cursor: pointer;
  /* 마우스 커서를 손가락 모양으로 변경 */
  padding-top: 4px;
}

.nav-list-text {
  font-size: 17px;
  display: flex;
  align-items: center;
  color: white;
}

.nav-list-text-signout {
  font-size: 17px;
  display: flex;
  align-items: center;
  color: red;
}

.active-link {
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.active-link-signout {
  font-weight: 600;
  font-size: 17px;
  color: #E81212;
  display: flex;
  align-items: center;
}

li:has(.active-link) {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px 0 0 12px;
  width: 100%;
  border-right: none;
}

li:has(.active-link-signout) {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px 0 0 12px;
  border-right: none;
}

li {
  height: 50px;
  display: flex;
  align-items: center;
}

.active-li {
  background-color: yellow;
}

.nav-icon {
  padding: 10px 15px 10px 20px;
}

/* Profile CSS */
#Profile {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: center; /* 가운데 정렬 */
  /*justify-content: center; /* 가운데 정렬*/
}

#profile-info {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 30px;
  margin: 10px 10px 15px 60px;
  height: 95%;
}

#profile-history {
  flex: 1;
  border: 2px solid black;
  border-radius: 30px;
  margin: 10px 60px 15px 10px;
  padding: 50px 44px;
  height: 95%;
}

#profile-title {
  padding-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 27px;
}

#profile-text {
  display: flex;
  height: 87%;
  flex-direction: row;
}

#info-pic-wrapper {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto 15px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-pic-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  overflow: visible;
}

#info-text {
  width: 100%;
}

#info-header {
  font-size: 13px;
  text-align: left;
  margin: 7px 55px 0px 55px;
}

#info-email,
#info-nickname,
#info-golf-info1-1,
#info-golf-info1-2,
#info-golf-info2-1,
#info-golf-info2-2 {
  border: 2px solid black;
  border-radius: 50px;
  padding: 2px 10px;
  height: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

#info-email,
#info-nickname {
  margin: 2px 50px;
  padding: 2px 20px;
}

#info-golf-info1-1,
#info-golf-info2-1 {
  margin-left: 50px;
  margin-right: 10px;
}

#info-golf-info1-2,
#info-golf-info2-2 {
  margin-left: 10px;
  margin-right: 50px;
}

#info-introduction {
  width: calc(100% - 100px);
  min-height: 30px;
  margin: 2px 50px;
  padding: 2px 20px;

  border: 2px solid black;
  border-radius: 50px;
  
  display: flex;
  align-items: center;
  text-align: left;
  /* justify-content: center; */
}

#info-golf-info-header {
  font-size: 13px;
  text-align: left;
  margin: 7px 0px 0px 18px;
}

#info-golf-info1,
#info-golf-info2 {
  display: flex;
  justify-content: center;
  /* padding: 2px 20px; */
}

#info-golf-info1-1-div,
#info-golf-info2-1-div {
  width: 50%;
}

#info-golf-info1-2-div,
#info-golf-info2-2-div {
  width: 50%;
}

#info-edit {
  width: calc(100% - 100px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-items: center;
}


#info-edit-button {
  width: 100%;
  height: 35px;
  background: rgba(59, 214, 65, 1);
  border: 2px solid black;
  border-radius: 50px;
  padding: 0px 10px;
  color: white;
  transition: background-color 0.3s ease;
}

#info-edit-profile {
  width: 50%;
  margin-right: 10px;
}

#info-edit-password {
  width: 50%;
  margin-left: 10px;
}

#info-edit-button:hover {
  background: white;
  color: rgba(59, 214, 65, 1);
}

#info-edit-button {
  font-size: 15px;
  font-weight: bold;
}